@font-face {
    font-family: "Ansley Display";
    src: url("Ansley Display/Ansley Display-Black.ttf") format("truetype");
}
span.finded{
    background: #F00;
    color: #FFF;
}
body{
    margin: 0px;
    text-align: center;
    #flotante{
        @extend %flotante;
    }
    #flotante1{
        @extend %flotante;
    }
    .fondo {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 1022;
        /*   opacity: 0.8;
           background:#000;*/
        background-color: rgba(255,255,255,.65);
        overflow: hidden !important;
    }
    .example-container{
        background-image: url("img/horizonte.jpg");
        background-position: 0px -150px;
        height: 120px;

        img{
            width: 80px;
            height: 80px;
            background-repeat: no-repeat;
            background-position: 50%;
            border-radius: 50%;
            background-size: 100% auto;
        }
        h1{
            padding-left: 20px;
            display: inline;
            font-family: "Ansley Display" !important;
            color: #17a2b8 !important;
            font-size: 3vw;
        }
        .usuario{
            position:absolute;
            display: inline;
            top:16;
            right: 130;
        }
        #Acceder{
            position:absolute;
            top:16;
            right:30;
        }
        #Cerrar{
            position:absolute;
            top:16;
            right:30;
        }
    }
    #search{
        width: 180px;
    }
}