body #flotante, body #flotante1 {
  width: 400px;
  height: 400px;
  color: black;
  background-image: url("img/piedra1.jpg");
  background-color: #FDF5E6;
  background-size: contain;
  position: absolute;
  top: 200px;
  left: 500px;
  right: 500px;
  z-index: 1023;
  position: fixed;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  border-radius: 6px 6px 6px 6px;
  text-align: center; }
  body #flotante h2, body #flotante1 h2 {
    margin-top: 30px; }
  body #flotante h4, body #flotante1 h4 {
    margin-top: 15px;
    margin-left: 16px;
    margin-bottom: 0;
    float: left; }
  body #flotante .cerrar, body #flotante1 .cerrar {
    opacity: 0.5;
    background-color: transparent;
    border: none;
    float: right;
    position: relative;
    font-size: 30;
    right: 6px; }
  body #flotante .btn, body #flotante1 .btn {
    margin-top: 15px; }
  body #flotante #registrar, body #flotante1 #registrar, body #flotante #loguear, body #flotante1 #loguear {
    background-color: transparent;
    opacity: 0.5;
    border: none;
    float: left; }
  body #flotante .cerrar:hover, body #flotante1 .cerrar:hover, body #flotante #registrar:hover, body #flotante1 #registrar:hover, body #flotante #loguear:hover, body #flotante1 #loguear:hover {
    cursor: pointer;
    cursor: hand;
    opacity: 1.0; }

#cuerpo #importante .contenedor .flecha {
  width: 80px;
  height: 20px;
  position: relative;
  background: #05899d;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; }

#cuerpo #importante .contenedor .flecha:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 10px solid white;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; }

#cuerpo #importante .contenedor .flecha:before {
  content: "";
  position: absolute;
  right: -10px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 10px solid #05899d;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; }

@font-face {
  font-family: "Ansley Display";
  src: url("Ansley Display/Ansley Display-Black.ttf") format("truetype"); }

span.finded {
  background: #F00;
  color: #FFF; }

body {
  margin: 0px;
  text-align: center; }
  body .fondo {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1022;
    /*   opacity: 0.8;
           background:#000;*/
    background-color: rgba(255, 255, 255, 0.65);
    overflow: hidden !important; }
  body .example-container {
    background-image: url("img/horizonte.jpg");
    background-position: 0px -150px;
    height: 120px; }
    body .example-container img {
      width: 80px;
      height: 80px;
      background-repeat: no-repeat;
      background-position: 50%;
      border-radius: 50%;
      background-size: 100% auto; }
    body .example-container h1 {
      padding-left: 20px;
      display: inline;
      font-family: "Ansley Display" !important;
      color: #17a2b8 !important;
      font-size: 3vw; }
    body .example-container .usuario {
      position: absolute;
      display: inline;
      top: 16;
      right: 130; }
    body .example-container #Acceder {
      position: absolute;
      top: 16;
      right: 30; }
    body .example-container #Cerrar {
      position: absolute;
      top: 16;
      right: 30; }
  body #search {
    width: 180px; }

@font-face {
  font-family: "Bauhaus";
  src: url("Bauhaus/BauhausRegular.ttf") format("truetype"); }

#cuerpo {
  text-align: center;
  background-image: url("img/blanco.jpg"); }
  #cuerpo #social {
    display: inline;
    position: fixed;
    top: 280px;
    left: 70px;
    z-index: 1020; }
    #cuerpo #social .redes {
      width: 55px;
      height: 55px;
      opacity: 0.8;
      border-radius: 3px;
      cursor: hand;
      cursor: pointer; }
    #cuerpo #social .redes:hover {
      width: 57px;
      height: 57px;
      opacity: 1.0;
      -webkit-box-shadow: 4px 4px 20px 7px #999;
      box-shadow: 4px 4px 20px 7px #999; }
  #cuerpo #texto {
    background-color: white;
    width: 850px;
    text-align: justify;
    margin: 40px 0px 40px 0px;
    padding: 30px 150px 30px 150px;
    display: inline-block;
    -webkit-box-shadow: 5px 5px 30px 10px #999;
    box-shadow: 5px 5px 30px 10px #999; }
  #cuerpo #texto-Personal {
    background-color: white;
    width: 850px;
    text-align: justify;
    margin: 40px 0px 40px 0px;
    display: inline-block;
    -webkit-box-shadow: 5px 5px 30px 10px #999;
    box-shadow: 5px 5px 30px 10px #999; }
  #cuerpo #presentacion {
    float: left;
    width: 325px;
    height: 350px;
    text-align: center;
    background-color: #05899d;
    color: white;
    font-family: 'Bauhaus' !important;
    font-size: 36px !important; }
    #cuerpo #presentacion img {
      margin-top: 25px;
      margin-bottom: 20px;
      width: 200px;
      height: 200px;
      background-repeat: no-repeat;
      background-position: 50%;
      border-radius: 50%;
      background-size: 100% auto; }
  #cuerpo #contacto {
    color: #05899d;
    float: right;
    width: 525px;
    height: 290px; }
    #cuerpo #contacto .row {
      margin-top: 30px; }
    #cuerpo #contacto .img {
      width: 20px;
      height: 70px;
      margin-left: 35px;
      float: left;
      display: flex;
      justify-content: center;
      align-items: center; }
    #cuerpo #contacto .col {
      height: 80px;
      font-size: 18px;
      padding-left: 8;
      padding-right: 0; }
      #cuerpo #contacto .col .tit {
        margin-top: 10;
        margin-bottom: 0; }
  #cuerpo #importante {
    float: right;
    width: 525px;
    height: 700px;
    color: #05899d; }
    #cuerpo #importante .col {
      margin-top: 15px; }
    #cuerpo #importante img {
      width: 30px;
      height: 30px;
      margin-right: 10px; }
    #cuerpo #importante hr {
      margin-top: 5px;
      height: 1px;
      background-color: #05899d; }
    #cuerpo #importante .contenedor {
      position: static;
      display: inline-block; }
    #cuerpo #importante h6 {
      display: inline-block;
      margin-left: 20px;
      margin-top: 10px;
      font-weight: bold; }
    #cuerpo #importante p {
      display: inline-block;
      margin-left: 105px;
      margin-bottom: 0;
      position: static;
      color: black; }
  #cuerpo #complementario {
    background-color: #05899d;
    color: white;
    float: left;
    width: 325px;
    height: 700px;
    text-align: left; }
    #cuerpo #complementario .continfo {
      margin-left: 30px;
      margin-top: 40px;
      width: 260px; }
      #cuerpo #complementario .continfo .titulos {
        font-size: 18;
        font-weight: bold;
        margin-bottom: 10px; }
      #cuerpo #complementario .continfo hr {
        margin-top: 0;
        margin-bottom: 0;
        background-color: white;
        height: 0px; }
      #cuerpo #complementario .continfo P {
        margin-left: 0px;
        margin-bottom: 5px;
        display: inline-block;
        font-size: 14; }
      #cuerpo #complementario .continfo .contestacion {
        float: right;
        width: 130px;
        text-align: left; }
